* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 42rem; */
    margin: 0 78px;
}
img{
    display: block;
    width: 100%;
}
.container nav img{
    width: 12%;
    margin: 0 20px;
    margin-top: -29px;

}
.container nav a{
    padding: 10px 18px;
    color: green;
    border: 2px solid green;
    text-transform: uppercase;
    border-radius: 3px;
}
.container nav a:hover{
    background-color: green;
    color: white;
}

/* -------section-------- */

section{
    padding: 30px 0;
    margin-top: -62px;
}
.container{
    padding: 10px 10%;
}
section .container  img{
    width: 28rem;
}
section .container p{
    text-align: center;
    color: #958D8D;
}
.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----------content-------- */
.content{
    padding: 60px 0;
}
.content .container ul{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.content .container ul li {
    margin: 20px;
    color: black;
    font-size: 14px;
    background-color: green;
    padding: 5px 9px;
    border-radius: 4px;
    cursor: pointer;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ------------------main-content--------------------- */

/* -----all---- */

.main-content{
    padding: 100px 0;
    padding-bottom: 10px;
    display: none;
}
.main-content .container .center{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-content: center;
    transform: scale(0.899);
    margin-top: -129px;
    row-gap: 80px;
}
.center div{
    padding: 20px;
    border: 1px solid #faf3f3;
    border-radius: 13px;
    background-color: #faf3f3;
    color: green;
    box-shadow: 0px 1px 0rem 1px rgb(0 0 0 / 59%); 

}
.center div img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
    border-radius: 13px;
}
.center div p{
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 15px;
}
.center div h1{
    font-size: 20px;
    color: black;
    margin-bottom: 7px;
}
.center div span{
    text-align: justify;
    font-size: 15px;
    line-height: 25px;
    color: black;
}

/* -------Development----------- */

.developments{
    padding: 10px 0;
}
.spans{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    row-gap: 63px;
    place-content: center;
    transform: scale(0.87);
}
.spans div img{
    object-fit: cover;
    object-position: center;
    height: 16rem;
}
.span-space{
    grid-column: 1 / span 3;
}
.spans div{
    padding: 20px;
    border: 1px solid #faf3f3;
    border-radius: 13px;
    background-color: #faf3f3;
    color: green;
    box-shadow: 0px 1px 0rem 1px rgb(0 0 0 / 59%); 

}
.spans div p{
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 15px;
}
.spans div h1{
    font-size: 20px;
    color: black;
    margin-bottom: 7px;
}
.spans div span{
    text-align: justify;
    font-size: 15px;
    line-height: 25px;
    color: black;
}

/* -------language------- */
.language{
    padding: 5px 0;
}
.col{
    transform: scale(0.9);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.language .col .col-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 75px;
    gap: 20px;
}
.col div img{
    object-fit: cover;
    object-position: center;
    height: 15rem;
}
.col-1 div{
    padding: 20px;
    border: 1px solid #faf3f3;
    border-radius: 13px;
    background-color: #faf3f3;
    color: green;
    box-shadow: 0px 1px 0rem 1px rgb(0 0 0 / 59%); 
}
.col-1 div p{
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 15px;
}
.col-1 div h1{
    font-size: 20px;
    color: black;
    margin-bottom: 7px;
}
.col-1 div span{
    text-align: justify;
    font-size: 14px;
    line-height: 25px;
    color: black;
}
.col-2{
    display: grid;
    grid-template-columns: 60rem;
    place-content: center;
    margin-top: 95px;
    padding: 20px;
    border: 1px solid #faf3f3;
    border-radius: 13px;
    background-color: #faf3f3;
    color: green;
    box-shadow: 0px 1px 0rem 1px rgb(0 0 0 / 59%);
    
}
.col-2 p{
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 15px;
}
.col-2 h1{
    font-size: 20px;
    color: black;
    margin-bottom: 7px;
}
.col-2 span{
    text-align: justify;
    font-size: 14px;
    line-height: 25px;
    color: black;
}

/* -------framework--------- */

.framework{
    padding: 5px 0;
}
.rows{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 75px;
    gap: 20px;
}
.rows div{
    padding: 20px;
    border: 1px solid #faf3f3;
    border-radius: 13px;
    background-color: #faf3f3;
    color: green;
    box-shadow: 0px 1px 0rem 1px rgb(0 0 0 / 59%); 
}
.rows div p{
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 15px;
}
.rows div h1{
    font-size: 20px;
    color: black;
    margin-bottom: 7px;
}
.rows div span{
    text-align: justify;
    font-size: 14px;
    line-height: 25px;
    color: black;
}
.rows div img{
    object-fit: cover;
    object-position: center;
    height: 15rem;
}



/* ------------------footer------------------ */

footer{
    padding: 5px 0;
}
footer .copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
}footer .copyright {
    margin: 0 70px;
}
.copyright p{
    font-size: 15px;
    font-weight: bold;
    color: green;
}
.copyright p span{
    font-weight: initial;
    color: black;
}
.copyright div i{
    margin: 0 8px;
    cursor: pointer;
}
.copyright div i:hover{
    color: green;
}

/* =========-media query-=========== */

@media screen and (max-width: 1024px){

    /* ------------all----------- */
    .main-content .container .center {
        grid-template-columns: 400px 400px 400px;
        transform: scale(0.799);
    }    
    footer .copyright {
        margin: 0;
    }

    /* -------development--------- */
    .spans {
        grid-template-columns: 400px 400px 400px;
        transform: scale(0.77);
    }

    /* -------lanuage-------- */
    .language .col .col-1 {
        grid-template-columns: 520px 520px;
        margin: 0;
    }
    
    /* -------framework---------- */
    .rows {
        grid-template-columns: 450px 450px;
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 600px){
    nav{
        margin: 0;
    }
    .container nav img {
        width: 108px;
        margin: 0;
    }

    /* -------all--------- */
    
    section .container img {
        width: 23rem;
        object-fit: cover;
        object-position: center;
        }    
    .content {
        padding: 30px 0;
    }
    .content .container ul li {
        margin: 4px;

    }
    .main-content .container .center {
        grid-template-columns: 400px;
        transform: scale(0.9);    
        margin-top: -334px;
    }
    .copyright p {
        margin-bottom: 30px;
    }
    footer .copyright {
        flex-direction: column;
    
    }

    /* ------development------ */
    .spans{
        grid-template-columns: 400px;
        transform: scale(0.87);
        margin-top: -140px;
    }
    .span-space{
        grid-column: auto;
    }

    /* ------language------- */
    .language .col .col-1 {
        grid-template-columns: 397px;
    }
    .col-2{
        grid-template-columns: 355px;
    }
    .rows {
        grid-template-columns: 359px;
    }    


}